{% extends 'home.html'%}
{% block  content %}
<div class="content-wrapper" id="about">
    <h2>About Us: Behind The Lens</h2>

    <br><br><br>

    <table>
        <tr>
            <th> <center><img src="/static/images/FranzinBautista.jpg"> </center> </th>
            <td> <center> <b>Ms. Franzin Gael S. Bautista </b>
                <p><br> Owner <br>  Photographer and Editor </p>
            </center> 
            </td> 
            
        </tr>
       
        <tr>
            <th> <center><img src="/static/images/JhomerValiente.jpg"> </center> </th>
            <td> <center> <b> Mr. Jhomer DP. Valiente </b>
                <p><br> Co-Owner <br> Videographer and Editor </p>
            </center>
            </td>
        </tr>

    </table>

    <br><br><br><br>
    <p> Pansnap Studio was established on April 26, 2021. It is located at 218 Macapatan, Barangay Balubad, Bulakan, Bulacan. We specialize in creating photos and videos for special events such as weddings, birthdays, family portraits, baptismal, etc. We aim to capture your precious moments in the form of timeless photos and videos. We will be there with you every step of the way to guarantee your special moments are captured for all time.  We want you to be able to look back at your photos and/or videos years from today and be able to relive that moment in time.
    </p>
    <p> Before we engage in this kind of business, we started as a hobbyist. We offer free shoots to enhance our skills and gain experience. We ask people for their feedback so that we can improve our service. Even now, we continue to learn and develop our knowledge and techniques to attract our clients. We offer our service at a budget-friendly price and we make sure that after the service, our clients will have a smile on their faces. 
    </p>
    
    <br><br><br><br>
    <h2>About You:</h2>
    <p>Our clients welcome us in like close family so that we can immerse ourselves into the front row of their story and return that experience with genuine images/videos that reflect real moments rather than a staged interpretation.
    </p>

</div>
{% endblock content %}