{% extends 'base_page/base.html' %}
{% block content %}
<style>
    .bottom {
        display: none;
    }
    body {
        background-color:#0e2c40;
        background-image: linear-gradient(120deg, #006eff:#0e2c40);
        margin: 0 auto;
        padding-top: 40px;
        color: #2e323c;
        position: relative;
        height: 100%;
    }
    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }
    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }
    .account-settings .user-profile .user-avatar img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }
    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }
    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }
    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }
    .account-settings .about p {
        font-size: 0.825rem;
    }
    .form-control {
        border: none;
        font-size: 1rem;
    }

    .card {
        margin:5px auto;
        background: #0e2c40;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
    }
    .bottom{
        margin-top: 30px;
    }
    label {
        font-weight: 550;
    }
    .container{
        margin-top: 150px;
        border-radius: 20px;
    }
</style>
<div class="container" >
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                {% if request.user.avatar%}
                                <img src="{{request.user.avatar.url}}" alt="">
                                <p style="font-size: 15px; margin: 20px auto; color: white;">{{user_change.avatar}}</p>
                                {% else %}
                                {% load static %}
                                <img src="{% static 'images/logo/user_logo.png' %}" alt="" style="background: black;">
                                <p style="font-size: 15px; margin: 20px auto; background-color:#0e2c40;">{{user_change.avatar}}</p>
                                {% endif %}
                            </div>
                            <h5 class="user-name" style="color:#ffd700;">{{request.user.first_name}} {{request.user.last_name}}</h5>
                            <h6 class="user-email" style="color: white;">{{request.user.email}}</h6>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName" style="color: white;">First Name</label>
                                <p class="form-control" style="background-color:#0e2c40;">{{user_change.first_name}}</p>
                   
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail" style="color: white;">Last Name</label>
                                <p class="form-control" style="background-color:#0e2c40;">{{user_change.last_name}}</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone" style="color: white;">Email</label>
                                <p class="form-control" style="background-color:#0e2c40;">{{user_change.email}}</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website" style="color: white;">Phone Number</label>
                                <p class="form-control" style="background-color:#0e2c40;">+63 {{user_change.phone_num}}</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
        
                                <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                                <a href="{% url 'profile' %}"><button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
    </form>
    
    </div>
    <div class="bottom"></div>

{% endblock content %}