{% extends 'base_page/base.html' %}
{%block content%}
<style>
    body {
      
        margin: 0 auto;
        padding-top: 40px;
        color: #2e323c;
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 100%;

    }
    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }
    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }
    .account-settings .user-profile .user-avatar img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }
    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }
    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }
    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }
    .account-settings .about p {
        font-size: 0.825rem;
    }
    .form-control {
        border: none;
        font-size: 1rem;
    }

    .card {
        margin:5px auto;
        background: #0e2c40;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 15px;
        border: 0;
    }
    .bottom{
        margin-top: 30px;
    }
    label {
        font-weight: 550;
    }
    p {
        color: white;
    }
    @media only screen and (max-width:620px){
        .card{

            width: 50%;
            display: flex;
        }
        .table{
            margin: 50px;
            margin-left: 50px;
        }
    }
    .container{
        margin: 50px auto;
        padding: 20px;
        width: 100%;
    }
</style>
<div class="container" >
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        {% if request.user.avatar%}
                        <img src="{{request.user.avatar.url}}" alt="">
                        {% else %}
                        {% load static %}
                        <img src="{% static 'images/logo/user_logo.png' %}" alt="" style="background: black;">
                        {% endif %}
                    </div>
                    <h5 class="user-name" style="color: #FFDF00;"><b>{{request.user.first_name}} {{request.user.last_name}}</b></h5>
                    <h6 class="user-email" style="color: white;">{{request.user.email}}</h6>
                </div>
                <div class="about">
                    <p><i class="fa fa-user" aria-hidden="true"></i> Member since <br> <b style="color: #FFDF00;">{{formatdate}}</b></p>
                    <p><a href="">Change Password</a></p>
                    <a href="{% url 'edit-profile' user.id %}"><button type="button" id="submit" name="submit" class="btn btn-primary">Edit Profile</button></a>
           
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <center>
                <div class="row gutters" >
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-2 text-primary" style="float:left ;">Personal Details</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName" style="float:left; color: white;">First Name</label>
                            <p class="form-control" style="background-color: #0e2c40; color: #FFDF00;">{{request.user.first_name}}</p>
               
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="eMail" style="float:left ; color: white;">Last Name</label>
                            <p class="form-control" style="background-color: #0e2c40; color: #FFDF00;">{{request.user.last_name}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="phone" style="float:left ; color: white;">Email</label>
                            <p class="form-control"style="background-color: #0e2c40; color: #FFDF00;">{{request.user.email}}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="website" style="float:left ; color: white;">Phone Number</label>
                            {% if request.user.phone_num %}
                            <p class="form-control" style="background-color: #0e2c40; color: #FFDF00;">+63{{request.user.phone_num}}</p>
                            {% else %}
                            <p class="form-control"style="background-color: #0e2c40;color: #FFDF00;">Insert Phone Number</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </center>
            <center style="color:#4f9bff;">Reservation History</center>
            <style>
                /*---------- TABLES ----------*/
                /*----- basics -----*/
                table {
                    border-radius: 15px;
                    border-collapse: collapse;
                    border-bottom: 1px solid rgb(0, 0, 0, 0.2);

                    max-width: 2000px;
                    width: 100%;

                    margin: 10px auto 20px auto;
                }

                /*----- table headings -----*/
                th {
                    color: white;
                    background-color:#007ae1;
                    border: 2px solid #0e2c40;
                    padding: 10px;
                    text-align: left;
                    font-size: 18px;
        
                }


                /*----- table data (a cell) -----*/
                td {
                    color: white;
                    padding: 8px;
                    border-bottom: 4px solid  #0e2c40;
                    border: 1px solid rgb(0, 0, 0, 0.2);
                }


                /*----- table row hover animation -----*/
                tr {
                transition: background-color 0.5s;
                }
                tr:hover {
                background-color: black;
                }

                td {
                transition: background-color 0.4s;
                }
                td:hover {
                background-color: black;
                }
                            </style>
     
            <div class="row gutters">
                {% if reserve %}

                <table class="table">
                    <tr>
                      <th>Date/Time</th>
                      <th>Type</th>
                      <th>Event</th>
                      <th>Package</th>
                      <th>Status</th>
                    </tr>
                    
                    {% for reserves in reserve %}
                      <tr>
                        {% if reserves.indoor_date %}
                            {% if reserves.indoor_radio1 %}
                            <td>{{reserves.indoor_date}} / {{reserves.indoor_radio1}}</td>
                            {% elif reserves.indoor_radio2%}
                            <td>{{reserves.indoor_date}} / {{reserves.indoor_radio2}}</td>
                            {% elif reserves.indoor_radio3%}
                            <td>{{reserves.indoor_date}} / {{reserves.indoor_radio3}}</td>
                            {% elif reserves.indoor_radio4%}
                            <td>{{reserves.indoor_date}} / {{reserves.indoor_radio4}}</td>
                            {% elif reserves.indoor_radio5%}
                            <td>{{reserves.indoor_date}} / {{reserves.indoor_radio5}}</td>
                            {% else %}
                            <td>Complete Date & Time</td>
                            {% endif %}
                        {% elif reserves.outdoor_date %}
                            <td>{{reserves.outdoor_date}}<br>Start: {{reserves.outdoor_time}}<br>End: {{reserves.outdoor_end}}</td>
                        {% else %}
                        <td>Empty</td>
                        {% endif %}
                          
                        {% if reserves.indoor_shoot %}
                        <td>{{reserves.indoor_shoot}}</td>
                        {% elif reserves.outdoor_shoot %}
                        <td>{{reserves.outdoor_shoot}}</td>
                        {% else %}
                        <td>None</td>
                        {% endif%}


                        {% if reserves.wedding_pre_nuptial  %}
                        <td>{{reserves.wedding_pre_nuptial}}</td>
                        {% elif reserves.pre_debut %}
                        <td>{{reserves.pre_debut}}</td>
                        {% elif reserves.toddler %}
                        <td>{{reserves.toddler}}</td>
                        {% elif reserves.pre_birthday %}
                        <td>{{reserves.pre_birthday}}</td>
                        {% elif reserves.maternity %}
                        <td>{{reserves.maternity}}</td>
                        {% elif reserves.family_portrait %}
                        <td>{{reserves.family_portrait}}</td>
                        {% elif reserves.graduation_photo%}
                        <td>{{reserves.graduation_photo}}</td>
                        {% elif reserves.barkada_shoot%}
                        <td>{{reserves.barkada_shoot}}</td>
                        <!--Outdoor-->
                        {% elif reserves.church_wedding and reserves.wedding_event %}
                        <td>{{reserves.church_wedding}} / {{reserves.wedding_event}}</td>
                        {% elif reserves.civil_wedding and reserves.prenup_outdoor %}
                        <td>{{reserves.civil_wedding}} / {{reserves.prenup_outdoor}}</td>
                        
                        {% elif reserves.church_wedding and reserves.prenup_outdoor %}
                        <td>{{reserves.church_wedding}} / {{reserves.prenup_outdoor}}</td>
                        {% elif reserves.civil_wedding and reserves.wedding_event %}
                        <td>{{reserves.civil_wedding}} / {{reserves.wedding_event}}</td>
                        {% elif reserves.civil_wedding and reserves.wedding_event %}
                        <td>{{reserves.civil_wedding}} / {{reserves.wedding_event}}</td>
                        {% elif reserves.civil_wedding and reserves.prenup_outdoor %}
                        <td>{{reserves.civil_wedding}} / {{reserves.prenup_outdoor}}</td>
                        
                        {% elif reserves.civil_wedding and reserves.prenup_outdoor %}
                        <td>{{reserves.civil_wedding}} / {{reserves.prenup_outdoor}}</td>
                        {% elif reserves.civil_wedding and reserves.wedding_event %}
                        <td>{{reserves.civil_wedding}} / {{reserves.wedding_event}} </td>
                        {% elif reserves.pre_debut_outdoor %}

                        <td>{{reserves.pre_debut_outdoor}} / {{reserves.debut}}</td>
                        {% elif reserves.debut_outdoor %}

                        <td>{{reserves.debut_outdoor}} / {{reserves.debut}}</td>
                        {% elif reserves.baptismal %}
                        <td>{{reserves.baptismal}}</td>
                        {% elif reserves.birthday%}
                        <td>{{reserves.birthday}}</td>
                        {% else %}
                        <td>None</td>
                        {% endif %}
                       
                        {% if reserves.wedding_package1  %}
                        <td>{{reserves.wedding_package1}}</td>
                        {% elif reserves.wedding_package2 %}
                        <td>{{reserves.wedding_package2}}</td>
                        {% elif reserves.wedding_package3 %}
                        <td>{{reserves.wedding_package3}}</td>



                        
                        {% elif reserves.debut_package1 %}
                        <td>{{reserves.debut_package1}}</td>
                        {% elif reserves.debut_package2 %}
                        <td>{{reserves.debut_package2}}</td>
                        {% elif reserves.debut_package3 %}
                        <td>{{reserves.debut_package3}}</td>



                        {% elif reserves.toddler_package1%}
                        <td>{{reserves.toddler_package1}}</td>
                        {% elif reserves.toddler_package2%}
                        <td>{{reserves.toddler_package2}}</td>
                        {% elif reserves.toddler_package3 %}
                        <td>{{reserves.toddler_package3}}</td>

                        
                        {% elif reserves.pre_birthday_package1 %}
                        <td>{{reserves.pre_birthday_package1}}</td>
                        {% elif reserves.pre_birthday_package2 %}
                        <td>{{reserves.pre_birthday_package2}}</td>
                        {% elif reserves.pre_birthday_package3 %}
                        <td>{{reserves.pre_birthday_package3}}</td>
                        
                        {% elif reserves.maternity_package1 %}
                        <td>{{reserves.maternity_package1}}</td>
                        {% elif reserves.maternity_package2%}
                        <td>{{reserves.maternity_package2}}</td>
                        {% elif reserves.maternity_package3%}
                        <td>{{reserves.maternity_package3}}</td>
                        

                        {% elif reserves.family_portrait_package1 %}
                        <td>{{reserves.family_portrait_package1}}</td>
                        {% elif reserves.family_portrait_package2%}
                        <td>{{reserves.family_portrait_package2}}</td>
                        {% elif reserves.family_portrait_package3%}
                        <td>{{reserves.family_portrait_package3}}</td>


                        {% elif reserves.graduation_package1 %}
                        <td>{{reserves.graduation_package1}}</td>
                        {% elif reserves.graduation_package2 %}
                        <td>{{reserves.graduation_package2}}</td>
                        {% elif reserves.graduation_package3 %}
                        <td>{{reserves.graduation_package3}}</td>

                        {% elif reserves.barkada_package1 %}
                        <td>{{reserves.barkada_package1}}</td>
                        {% elif reserves.barkada_package2%}
                        <td>{{reserves.barkada_package2}}</td>
                        {% elif reserves.barkada_package3%}
                        <td>{{reserves.barkada_package3}}</td>
                        <!--Outdoor-->
                        {% elif reserves.video_package %}
                        <td>{{reserves.video_package}}</td>
                        {% elif reserves.package_outdoor%}
                        <td>{{reserves.package_outdoor}}</td>
                        {% elif reserves.package2_outdoor%}
                        <td>{{reserves.package2_outdoor}}</td>   

                        {% elif reserves.video_package2 %}
                        <td>{{reserves.video_package2}}</td>
                        {% elif reserves.photo_video%}
                        <td>{{reserves.photo_video}}</td>
                        {% elif reserves.photo_video_2%}
                        <td>{{reserves.photo_video_2}}</td>   

                        {% elif reserves.pre_debut_outdoor1 %}
                        <td>{{reserves.pre_debut_outdoor1}}</td>
                        {% elif reserves.pre_debut_outdoor2%}
                        <td>{{reserves.pre_debut_outdoor2}}</td>
                        {% elif reserves.pre_debut_outdoor3%}
                        <td>{{reserves.pre_debut_outdoor3}}</td>   
                        
                        {% elif reserves.package_debut1 %}
                        <td>{{reserves.package_debut1}}</td>
                        {% elif reserves.package_debut2%}
                        <td>{{reserves.package_debut2}}</td>
                        {% elif reserves.package_debut3%}
                        <td>{{reserves.package_debut3}}</td>   
                    
                         
                        {% elif reserves.baptismal_outdoor1 %}
                        <td>{{reserves.baptismal_outdoor1}}</td>
                        {% elif reserves.baptismal_outdoor2%}
                        <td>{{reserves.baptismal_outdoor2}}</td>
                        {% elif reserves.baptismal_outdoor3%}
                        <td>{{reserves.baptismal_outdoor3}}</td>   

                        {% elif reserves.birthday_outdoor1 %}
                        <td>{{reserves.birthday_outdoor1}}</td>
                        {% elif reserves.birthday_outdoor2%}
                        <td>{{reserves.birthday_outdoor2}}</td>
                        {% elif reserves.birthday_outdoor3%}
                        <td>{{reserves.birthday_outdoor3}}</td>   
                        {% elif reserves.v1 %}
                        <td>{{reserves.v1}}</td>
                        {% elif reserves.v2%}
                        <td>{{reserves.v2}}</td>
                        {% elif reserves.v3%}
                        <td>{{reserves.v3}}</td>   

                        {% elif reserves.v4 %}
                        <td>{{reserves.v4}}</td>
                        {% elif reserves.v5%}
                        <td>{{reserves.v5}}</td>
                        {% elif reserves.v6%}
                        <td>{{reserves.v6}}</td>  
 
                        {% else %}
                        <td>None</td>
                        
                        
                        {% endif %}
                        {% if reserves.status  %}
							  <td><p ><b style="color:rgb(203, 255, 16);">Approved </b><br></p></td>
							  {% elif reserves.completed %}
							  <td><p style="color:rgb(61, 255, 61);"><b>Completed</b></p></td>
							  {% elif reserves.reserved %}
							  <td><p style="color: rgb(117, 189, 247);"><b>Reserved</b></p></td>
							  {% elif reserves.pending %}
							  <td><p style="color:  rgb(254, 156, 36);"><b>Pending</b></p></td>
							  {% elif reserves.declined %}
							  <td><p style="color: red;"><b>Declined</b></p></td>
							  
							  {% endif %}
                  
                    </tr>
                    {% endfor%}
              
                    
                  </table>
                {% else %}
                  <h1 style="color:white; text-align: center; margin: 30px auto; font-size: 25px; opacity: 50%;">No Reservation Recorded</h1>
                {% endif %}
                  

                    
            
            </div>
        
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                      
                        <a href="{% url 'seemore'  %}">See More</a>
                       
                    </div>
                </div>
            </div>
      
        </div>
    </div>
    </div>
    </div>




    </div>
   
<style>
    	.bottom {
			margin-top: 120px;
			
		}
</style>

{% endblock content %}