{%extends "home.html"%}
{%block content%}
<div class="content-wrapper" id="services">
    <h2>Services</h2>
    <p>We want to serve you throughout your day and the entire planning process. Capturing your most important moments is what we do best. Below are the listed events, packages, and prices that Pansnap Studio offers.
    </p>
    <table>
        <tr>
            <th>Events</th>
            <th>Packages</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Wedding</td>
            <td>
                <ul>
                    <li>Prenup Photoshoot </li>
                    <li>Wedding to Reception Photo Coverage </li>
                    <li>Enhanced Photos </li>
                    <li>Wedding Album & Flash Drive </li>
            </td>
            <td>Php 25,000 - Php 30,000</td>
            
        </tr>
        <tr>
            <td>Debut</td>
            <td>
                <ul>
                    <li>Pre-Debut Photoshoot </li>
                    <li>Debut Photo Coverage </li>
                    <li>Enhanced Photos </li>
                    <li>Birthday Album & Flash Drive </li>
            </td>
            <td>Php 15,000 - Php 20,000</td>
            
        </tr>
        <tr>
            <td>Chistening</td>
            <td>
                <ul>
                    <li>Church to Reception Photo Coverage </li>
                    <li>Enhanced Photos </li>
                    <li>Soft Copies </li>
                    <li>2pcs Printed 11r Photo with Frame</li>
            </td>
            <td>Php 2,500 - Php 5,000</td>
        </tr>
        <tr>
            <td>Studio Shoot</td>
            <td>
                <ul>
                    <li>Standard 1-2hours Studio Shoot </li>
                    <li>Enhanced Photos </li>
                    <li>Soft Copies </li>
                    <li>1pc Printed 8r Photo with Frame</li>
                    <li>4pc Printed Wallet Size Photo</li>
            </td>
            <td>Php 1,000 - Php 2,000</td>
        </tr>
    </table>
</div>
{%endblock content%}