{% extends 'home.html' %}
{% block content %}

<div class="content">
    <div class="content-wrapper" id="home">
        <h2>Welcome {{request.user.username}}</h2>
        <p>We're so excited you're here. Feel free to explore our web-based photo and video site. Here, you may discover adorable high-quality service of photos and videos for hire. The perfect work approach can be difficult, dirty, and complicated at times. That's why we created Pansnap Studio - a place where people get work done, together. Our goal is to capture the special moment for you so that you can have wonderful memories to look back to. Of course, you might just enjoy a fun-filled look through the collection. We are glad to hear your thoughts about the pictures and videos on this site. You're in the right place. Let's create something beautiful, and uniquely yours. SAVE EVERY SHOT!
            {% for msg  in messages %}
            <div class="alert alert-{{msg.tags}}" role="alert">
                {{msg}}
              </div>
            {% endfor %}
        </p>
        
        
        <section class="login_container">
            <div class="login_img">
                <img src="/static/images/LogInbg.jpg">
            </div>
            <div class=login_content>
                <div class="loginform">
                    <form method="POST">
                        {% csrf_token %}
                    <h2>Sign up </h2>
                    <table>
                        <tr >
                          <td> 
                            <div class="login_input">
                            <span style="margin-left: 1px;">First Name</span>
                            <input type="text" name="first_name" size="26" required  style="width: 120%; margin-right: -5px; width:110%; margin-left: -2px;">
                        </div>
                        </td>
                          <td>
                            <div class="login_input">
                                <span style="margin-left:25px ;">Last Name</span>
                                <input type="text" name="last_name" size="26" required style="margin-left: 13px; width: 93%;">
                            </div>
                          </td>
                        </tr>     
                       
                    </table>
                        <div class="login_input">
                            <span>Username</span>
                            <input type="text" name="username" size="26" required>
                        </div>
                        <div class="login_input">
                            <span>Email</span>
                            <input type="email" name="email" size="26" required>
                        </div>
                        <div class="login_input">
                            <span>Password</span>
                            <input type="password" name="password" size="26" required>
                        </div>
                        <div class="login_input">
                            <span>Re-type Password</span>
                            <input type="password" name="password2" size="26" required>
                        </div>
                        <div class="remember">
                            <label>
                                <input type="checkbox" name=""> Remember Me
                            </label>
                        </div>
                        
                        <div class="login_input">
                            <input type="submit" value= "Sign-up" name="">
                        </div>
                        <div class="login_input">
                            <p>Have an account? <a href="{% url 'home' %}">Login</a></p>
                        </div>
                    </form>

                </div>
            </div>
        </section>


</div>


<script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
</script>
{% endblock content %}