{%extends "base_page/base.html"%}
{%block content%}
<style>
.owl-carousel.std-photos-loading {
    opacity: 1;
    display: block;
    text-align: center;
}

a.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #f00;
    padding: 50px 0;
}
.owl-carousel .std-photos-dot.disabled, .owl-carousel .std-photos-nav.disabled {
    display: block;
    margin-top: 10px;
}
.owl-carousel .std-photos-dot, 
.owl-carousel .std-photos-nav {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.owl-carousel .std-photos-dot.disabled, 
.owl-carousel .std-photos-nav.disabled {
    display: block;
}
.item img{
  width: 100%;
  height: auto;

}
.owl-dot{
  display: none;
}
</style>
<div class="content-wrapper">
  
  <h2 style="margin-top: 80px" data-aos="fade-up">Indoor Photos</h2>
  <p data-aos="fade-up">Whatever you want to remember, you can be sure that our studio will be able to provide you with beautiful images that will look fantastic in your photo album, on the walls of your house, or on your social media accounts. We work together as a team because we have a passion for photography. We offer different studio photoshoots for couples, newborn babies, pregnant women, children, graduations, and birthdays. </p>
  
  <center><h2 style="margin-top:80px;" data-aos="fade-up">Wedding Pre-Nuptial</h2></center>
  <p data-aos="fade-up">A pre-nuptial photoshoot captures the moments of togetherness and can be the best storyteller that narrates your love story. We truly believe that couples in love have a distinct glow on them! Before you walk down the aisle to begin your new life together, cherish the moments in this season of waiting. We would love to take your pre-nuptial photos. Pansnap Studio offers not just beautiful photos, but also beautiful memories.</p>
  <div class="owl-carousel" data-aos="zoom-in">

    <a class="item" ><img src="/static/images/Portfolio/prenup/prenup_img1.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/prenup/prenup_img2.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/prenup/prenup_img3.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/prenup/prenup_img4.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/prenup/prenup_img5.jpg"></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  <center><h2 style="margin-top:100px;" data-aos="fade-up">Pre-Debut</h2></center>
  <p data-aos="fade-up">Mark the start of your journey into adulthood with a stunning pre-debut photoshoot !We are always there to promise that special moments are captured for all time. The photographer creates a beautiful memory of a stupendous pre-debut photoshoot. </p>
  <div class="owl-carousel" data-aos="zoom-in">

    <a class="item" ><img src="/static/images/Portfolio/predebut/std/predebut_stdimg1.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/predebut/std/predebut_stdimg2.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/predebut/std/predebut_stdimg3.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/predebut/std/predebut_stdimg4.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/predebut/std/predebut_stdimg5.jpg"></a>
   
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  <center><h2 style="margin-top:100px;" data-aos="fade-up">Maternity</h2></center>
  <p data-aos="fade-up">This pregnancy photo shoot captures the joyous journey of the mother and the cute little bundle of joy. Maternity photography of a woman with a baby bump is the best memory to be frozen.</p>
  <p data-aos="fade-up">Our maternity photoshoot helps you capture those moments that you can cherish all your life through our expert photographers, from the time you get married to the first smile of your newborn baby.</p>
  <div class="owl-carousel" data-aos="zoom-in">
   
    <a class="item" ><img src="/static/images/Portfolio/maternity/maternity_stdimg1.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/maternity/maternity_stdimg2.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/maternity/maternity_stdimg3.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/maternity/maternity_stdimg4.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/maternity/maternity_stdimg5.jpg"></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  <center><h2 style="margin-top:100px;" data-aos="fade-up">Pre-Birthday</h2></center>
  <p data-aos="fade-up">Get ready to celebrate your upcoming birthday in style with a stunning pre-birthday photoshoot! Capturing the excitement and anticipation leading up to your big day, our photographers will help you create beautiful, timeless images that you'll treasure for years to come. From posing in your favorite outfit to capturing candid moments, we'll work with you to create a portfolio of photos that perfectly reflects your personality and style.</p>
  <div class="owl-carousel" data-aos="zoom-in">
   
    <a class="item" ><img src="/static/images/Portfolio/prebirthday/prebirthday_stdimg1.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/prebirthday/prebirthday_stdimg2.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/prebirthday/prebirthday_stdimg3.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/prebirthday/prebirthday_stdimg4.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/prebirthday/prebirthday_stdimg5.jpg"></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  <center><h2 style="margin-top:100px;" data-aos="fade-up">Family Portrait</h2></center>
  <p data-aos="fade-up">As your family grows and changes, it's important to take the time to capture and cherish the memories you've made together. Capture the love and warmth of your family with a beautiful portrait photoshoot! Our photographers will work with you to create timeless images that perfectly capture the unique bond between you and your loved ones.</p>
  <div class="owl-carousel" data-aos="zoom-in">
   
    <a class="item" ><img src="/static/images/Portfolio/family/family_stdimg1.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/family/family_stdimg2.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/family/family_stdimg3.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/family/family_stdimg4.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/family/family_stdimg5.jpg"></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <center><h2 style="margin-top:100px;" data-aos="fade-up">Toddler</h2></center>
  <p data-aos="fade-up">Our toddler photoshoot captures all the adorable and spontaneous reactions of children's journals. The photographer creates a memory by clicking on the cute expression of your toddler. Trust us to help you capture your toddler's playful spirit and personality in a way that will make you smile every time you look back on these memories.</p>
  <div class="owl-carousel" data-aos="zoom-in">
   
    <a class="item" ><img src="/static/images/Portfolio/toddler/toddler_stdimg1.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/toddler/toddler_stdimg2.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/toddler/toddler_stdimg3.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/toddler/toddler_stdimg4.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/toddler/toddler_stdimg5.jpg"></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <center><h2 style="margin-top:100px;" data-aos="fade-up">Graduation Photo</h2></center>
  <p data-aos="fade-up">As you prepare to embark on the next phase of your journey, what better way to celebrate your accomplishments than with a stunning graduation photoshoot? Count on us to assist you in producing everlasting pictures that admirably reflect the pride and delight of this important occasion. These years of hard work and dedication deserve to be commemorated in a way that will make you smile every time you look back on these memories.</p>
  <div class="owl-carousel" data-aos="zoom-in">
   
    <a class="item" ><img src="/static/images/Portfolio/graduation/graduation_img1.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/graduation/graduation_img2.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/graduation/graduation_img3.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/graduation/graduation_img4.jpg"></a>
    <a class="item" ><img src="/static/images/Portfolio/graduation/graduation_img5.jpg"></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <center><h2 style="margin-top:100px;" data-aos="fade-up">Barkada Shoot</h2></center>
  <p data-aos="fade-up">Memorable friendships that are formed unexpectedly are some of the most precious in the world. We want to help you preserve these unforgettable moments and give you the opportunity to treasure them for a lifetime. Don't miss out on this chance to make lasting memories with your friends.</p>
  <div class="owl-carousel" data-aos="zoom-in">
   
    <a class="item" ><img src="/static/images/Portfolio/barkada/barkada_img1.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/barkada/barkada_img2.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/barkada/barkada_img3.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/barkada/barkada_img4.png"></a>
    <a class="item" ><img src="/static/images/Portfolio/barkada/barkada_img5.png"></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</div>

<script>
  jQuery(document).ready(function($) {
  var $owl = $('.owl-carousel');
	$owl.children().each( function( index ) {
	  jQuery(this).attr( 'data-position', index ); 
	});
	
	$owl.owlCarousel({

	  nav:true,

	  items: 5,
    margin:10,
	 
	  responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
     }
	});
  $(document).on('click', '.item', function() {
    $owl.trigger('to.owl.carousel', $(this).data( 'position' ) ); 
  });
		});
</script>
{%endblock content%}